artix/sysroot/usr/local/bin/fzf filter=lfs diff=lfs merge=lfs -text
artix/sysroot/usr/local/bin/yazi filter=lfs diff=lfs merge=lfs -text
artix/sysroot/usr/local/bin/wproulette filter=lfs diff=lfs merge=lfs -text
